/*Global Reset*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  border-top: 10px solid #1098ab;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ab;
  border-bottom: 5px solid #1098ab;
  padding: 50px 0;
  width: 500px;
  height: auto;
}

.post-header {
  margin-bottom: 40px;
}

li,
p {
  color: #444;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ab;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #1098ab;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #1098ab;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}
/* We cannot use an ids more than once. That functionality is only available with classes.*/
#copyright {
  font-size: 16px;
}

/*We utilize ids to prevent specific, long css calls i.e.(header div p strong)*/
#author {
  font-style: italic;
  font-size: 18px;
}

/* In modern development. We typically only use classes. No ids are typically used.  */

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

/* Pseudo classes */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* Misconception: This will not work */
article p:first-child {
  color: red;
}

/* Styling Links */
/* a element with href */
a:link {
  color: #1098ab;
  text-decoration: none;
}

a:visited {
  color: #1098ab;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: rgb(0, 0, 0);
  font-style: italic;
}
/* LVHA */

.post-img {
  width: 100%;
  height: auto;
}
/* Resolving conflicts */
/* IDs take precedence */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

/* Use Simple Selectors */

/* Inheritance */
